@model WebApplication1.ViewModels.EmployeeListViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>你好，@Model.UserName,@Model.Greeting</h1>
        <div>
            <table>
                <tr>
                    <th>名字</th>
                    <th>工资</th>
                    <th>级别</th>
                </tr>
                @foreach (var item in Model.EmployeeViewList)
                {
                    <tr>
                        <td>@item.EmployeeName</td>
                        <td>@item.Salary</td>
                        <td>@item.SalaryGrade</td>
                    </tr>
                }
            </table>
        </div>
</body>
</html>
